#Tratamento de dados

Importação das bibliotecas que serão utilizadas no tratamento dos dados

In [ ]:
# Manipulação e tratamento de dados em dataframe
import pandas as pd

# Visualização de dados para análise exploratória
import seaborn as srn

# Calculos estatísticos
import statistics as sts

Importação e carregamento de dados

Será feito o carregamento do arquivo Churn.csv, que é uma tabela com dados de uma instituição financeiro com a finalidade de fazer uma análise de rotatividade de clientes, através da função pd.read_csv() do módulo Pandas

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [ ]:
# pd.read_csv()
dataset = pd.read_csv('Churn.csv', sep=';')

In [ ]:
# Visualização dos cinco primeiros registros | .head()
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [ ]:
# Informação do dataframe | .info()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X0      999 non-null    int64
 1   X1      999 non-null    int64
 2   X2      999 non-null    object
 3   X3      991 non-null    object
 4   X4      999 non-null    int64
 5   X4.1    999 non-null    int64
 6   X6      999 non-null    int64
 7   X7      999 non-null    int64
 8   X8      999 non-null    int64
 9   X9      999 non-null    int64
 10  X10     992 non-null    float64
 11  X11     999 non-null    int64
dtypes: float64(1), int64(9), object(2)
memory usage: 93.8+ KB

Os nomes das colunas estão escritos de maneira codificada, portanto será criada uma lista com novos nomes para uma melhor compreensão dos dados

In [ ]:
new_columns = ["Id",
               "Score",
               "Estado",
               "Genero",
               "Idade",
               "Patrimonio",
               "Saldo",
               "Produtos",
               "TemCartCredito",
               "Ativo",
               "Salario",
               "Saiu"]

In [ ]:
# definindo os nomes do dataframe a partir da lista acima | dataframe.columns
dataset.columns = new_columns

In [ ]:
# Visualização dos cinco primeiros registros | .head()
dataset.head()

,Id,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0

## Análise exploratória